<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @todo_list.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @todo_list.description %>
</p>

  <div id="todo_item_wrapper">
    <%= render @todo_list.todo_items %>     <!-- get the todo_item.html.erb-->
    <div id="form">
        <%= render "todo_items/form" %>  <!-- get to the _form.html.erb page for the todo_item  -->
    </div>
  </div>

<%= link_to 'Edit', edit_todo_list_path(@todo_list) %> |
<%= link_to 'Back', todo_lists_path %>
